<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<tr>
    <td>
        <a href="http://localhost:8080/useful/colored">Colored Background</a>
    </td>
</tr>
<tr>
    <td>
        <a href="http://localhost:8080/useful/email" th:text="|email|"></a>
    </td>
</tr>
<tr>
    <td>
<a href="http://localhost:8080/useful/email?email=is@this.valid" th:text="|Example of E-mail|"></a>
    </td>
</tr>
</body>
</html>
